PORT=8000 # Cổng sử dụng để chạy backend
BACKEND_URL=http://localhost:8000 # URL của backend
FRONTEND_URL=http://localhost:3000 # URL của frontend
NODE_ENV=development # Môi trường chạy
DATABASE_URL=postgresql://postgres:password@localhost:5432/comitor # URL của database

JWT_SECRET=comitor-access-secret-change-me # Secret key cho JWT
JWT_ACCESS_EXPIRES_IN=15m # Thời gian sống của access token
JWT_REFRESH_EXPIRES_IN=7d # Thời gian sống của refresh token

ZALO_OA_ID= # ID của Zalo OA
ZALO_OA_SECRET_KEY= # Secret key của Zalo OA

META_APP_ID= # ID của Meta
META_APP_SECRET_KEY= # Secret key của Meta
META_VERIFY_TOKEN= # Verify token của Meta
META_REDIRECT_URI= # Redirect URI của Meta
# AWS S3
AWS_ACCESS_KEY_ID=your-access-key-id # Access key ID của AWS
AWS_SECRET_ACCESS_KEY=your-secret-access-key # Secret access key của AWS
AWS_S3_BUCKET=comitor # Tên bucket của AWS
AWS_REGION=ap-southeast-1 # Region của AWS

# Email (Resend)
RESEND_API_KEY=re_your_resend_api_key
EMAIL_FROM=noreply@comitor.app
